@import url(http://www.mozilla.org/tabzilla/media/css/tabzilla.css);

#header {
     border-top: 2px solid #fff;
background-image: url("/sites/default/files/header-background_3.png");
}

#block-browserid-login {
    position: absolute;
    right: 150px;
    top: 10px;
    z-index: 2;
}

#secondary-menu {
right: 150px !important;
}

.region-header {
margin-top: 0 !important;
}